<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Helsinki City Bike App</title>
  <link rel="stylesheet" href="css/styles.css">
</head>


<body>
  <nav class="navbar">
    <ul>
      <li>NEW TRIP</li>
      <li>STATIONS</li>
      <li>HOME</li>
    </ul>
  </nav>
