<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Helsinki City Bike App</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>


<body>
  
  <nav class="navbar">
    <a href="/">
      <img id="logo" src="../pictures/logo3.png" alt="logo">
    </a>
    <ul>
      <li> <a href="/journeys?page=1&limit=25">JOURNEYS</a> </li>
      <li><a href="/stations?page=1&limit=25">STATIONS</a></li>

    </ul>
  </nav>
