<%- include("header"); -%>

<div class="hero">
    <div class="heroText">
        <h1>CITY BIKE</h1>
        <p>Fermentum posuere urna nec tincidunt praesent. Vulputate enim nulla aliquet porttitor. 
            Nisl suscipit adipiscing bibendum est ultricies integer quis. Urna neque viverra justo 
            nec ultrices dui sapien. Molestie a iaculis at erat pellentesque adipiscing. Diam in 
            arcu cursus euismod quis. Nunc sed augue lacus viverra vitae congue.</p>
    </div>

    <div class="heroImg"></div>

</div>


<%- include("footer") -%>