
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color:#fbfbfb85;
}

h1{
  text-align: center;
}
#logo{
  width: 130px;
  float: left;
  margin: 5px 20px;
  height: 65px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
li{
  display: inline-block;
  margin-right: 40px;
  padding: 20px 0;

}
li:hover{
  cursor: pointer;
  font-weight: bold;
}
li a {
    text-decoration: none;
    color: black;
}
nav{
  text-align: right;
  width: 100%;
  
}

.hero {
  min-height: 700px;
  column-count: 2;
  margin: 80px 15px 0;
}
.heroText h1 {
  font-weight: 600;
  font-size: 3.5rem;
  
}
.heroText{
  height: 500px;
  width: 68%;
  margin: 15px 0 10px 17%;
  text-align: center;
  line-height: 115%;
  font-size: 1.3rem;
  padding:  10px 20px;
}
.heroImg{
  height: 500px;
  width: 90%;
  background-image: url(https://www.citybikefinland.fi/sites/citybike/files/images/slider_home/smoovehki-127.jpg);
  background-position: center;
  background-size: cover;
  background-position-x: right;
  transform: rotate(8deg);
}

th {
  font-size: 15px;
  padding: 5px 20px;
  border: 1px solid #ddd;
  background-color: #F6F38A;
}

td{
  border: 1px solid #ddd;
  padding: 2px 10px;
}
tr:hover{
  background-color: #fffcada9;
}


table {
   border-collapse: collapse;
   margin: auto;
   margin-bottom: 50px;
}

a {
  margin-bottom: 100px;
}

.tableNavigation{
  text-align: center;
}
.tableNavigation a {
  text-decoration: none;
  color: black;
}
.tableNavigation a:hover{
  font-weight: bolder;
}

.limitDropdown {
  position: relative;
  display: inline-block;
  border: solid 1px;
  border-radius: 5px;
  padding: 2px 3px;
  margin-bottom: 12px;
  cursor: pointer;
}

.limitDropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 10px;
  z-index: 1;
}


.limitDropdown:hover .limitDropdownContent {
  display: block;
}

.stationDetails {
  margin-left: 30px;
}



/* Journeys */

.journeySearch{
  text-align: center;
  margin-bottom: 10px;
  
}
.journeySearch form {
  margin-top: 10px;
}

.distance p{
  display: inline;
}
.distance input{
  width: 50px;
}
.duration p{
  display: inline;
}
.duration input{
  width: 50px;
}

.searchJourney {
  background-color: #F6F38A;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 500px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  
}

.searchJourney:hover {
  background-color: #d9d9d9;

}

.active, .collapsible:hover {
  background-color: #ccc;
  cursor: pointer;
}

.content {
  padding: 0 18px;
  width: 500px;
  display: none;
  overflow: hidden;
  margin: auto;
  text-align: left;
}


/* Stations */
.stationSearch {
  text-align: center;
  margin-bottom: 20px;
  
}

.stationName {
  color: black;
}

.stationName:hover{
  font-weight: bolder;
}

.stationDetails{
  columns: 2;
  margin: 50px;
}
#googleMap {
  width: 400px;
  height: 400px;

}


footer{
  
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background-color: #F6F38A;
  color: black;
  text-align: center;
}


